<div class="Edit">

  <ol class="breadcrumb">
    <li><a><%= link_to "Tasks", tasks_path %> </a></li>
    <li><a><%= link_to @task.description %></a></li>
    <li class= "active">Edit</li>
  </ol>

  <h1>Editing task</h1>

  <%= render 'form', button_name: "Update Task" %>

  <br>
  <br>
  <br>
  <br>
  <br>
</div>
