<div class ="container text-about">
  <h1><strong>About</strong></h1>
    <p>
      Get organized and be productive with a team
    </p>

  <id = img/>
  <%= image_tag "meeting-152506_640.png" %>
</div>
