
<div class= "container text-faq">
  <h1><strong>Frequently Asked Questions </strong></h1>
</div>

<% @faqs.each do |faq| %>
    <div class= "container text-faq">
      <p><strong><%= faq.question %></strong><p>
      <footer><cite><%= faq.answer%></cite></footer>
    </div>
    <br>
<%end%>
